@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-lightgrey: #fbfbfb;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer utilities {
    .two-line-heading {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 2px;
        height: 8px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.2);
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: rgb(233, 233, 233);
        border-radius: 10px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: lightgray;
    }
}
